.post {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  border: 1px solid #555;
  border-radius: var(--size-border-radius);
}
.post:nth-child(odd) {
  flex-direction: row-reverse;
}

.image {
  object-fit: cover;
  border-radius: var(--size-border-radius);
}

.title {
  font-weight: 700;
}

.desc {
  font-size: 18px;
  color: #999;
}
