.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 15px;
}

.post {
  /* display: flex; */
  /* align-items: center; */
  /* gap: 50px; */
  /* margin-bottom: 50px; */
  flex-grow: 1;
  border: 1px solid #444;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.post:hover {
  /* background-color: black; */
  border: 1px solid #fff;
}

/* .post:nth-child(odd) {
  flex-direction: row-reverse;
} */

.imageContainer {
  position: relative;
  height: 200px;
}

.image {
  padding: 0;
  /* object-fit: fill; */
  border-radius: 15px;
  max-width: 100%;
}

.title {
  font-size: large;
  /* font-weight: 400; */
  padding-top: 4rem;
  position: absolute;
  padding-left: 1rem;
}

.desc {
  font-size: 14px;
  color: #999;
  padding-top: 7rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
