.button {
  padding: 20px;
  cursor: pointer;
  background: var(--color-primary);
  border: none;
  border-radius: var(--size-border-radius);
  width: max-content;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
